<div class="side-menu" ng-class="{'open': vm.isOpen}" click-outside="vm.closeMenu()" except-selector="'.menu-opener'">
    <div class="inner-container">
        <div class="link-container">
            <a class="page-link" ui-sref=".home" ng-class="{'is-current': vm.isCurrentState('home')}">Home</a>
        </div>
        <div class="link-container">
            <a class="page-link" ui-sref=".our-story" ng-class="{'is-current': vm.isCurrentState('our-story')}">Our Story</a>
        </div>
        <div class="link-container">
            <a class="page-link" ui-sref=".services" ng-class="{'is-current': vm.isCurrentState('services')}">Services</a>
        </div>
        <div class="link-container">
            <a class="page-link" ui-sref=".portfolio" ng-class="{'is-current': vm.isCurrentState('portfolio')}">Portfolio</a>
        </div>
        <div class="link-container">
            <a class="page-link" ui-sref=".press" ng-class="{'is-current': vm.isCurrentState('press')}">Press</a>
        </div>
        <div class="link-container">
            <a class="page-link" ui-sref=".contact-us" ng-class="{'is-current': vm.isCurrentState('contact-us')}">Contact Us</a>
        </div>
    </div>
</div>
