@import '../../../public/less/media';
@import '../../../public/less/common';

.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 300px;
  transform: translate3d(-310px, 0, 0);
  transition: transform 0.25s ease-out;
  background-color: @backgroundColour;
  box-shadow: 2px 0 7px 1px rgba(105,105,105,0.36);
  opacity: 0.95;

  .inner-container {
    width: 100%;
    height: 100%;
    padding-top: @shrunkSiteHeaderHeight + 25px;

    .link-container {
      position: relative;
      text-align: center;
      width: 100%;

      .page-link {
        display: inline-block;
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0;
        padding: 5px 0;

        &.is-current {
          &:after, &:hover:after {
            background: linear-gradient(transparent, transparent), url('../../../public/img/goldfoil3.jpg');
            background-size: 200%;
            animation: animGold 20s linear infinite;
            width: 100%;
            opacity: 1;
          }
        }

        &:after {
          content: '';
          display: block;
          margin: 5px auto auto auto;
          height: 2px;
          width: 0;
          opacity: 0;
          border-radius: 2px;
          background: transparent;
          transition: all 0.25s ease-out;
          pointer-events: none;
        }

        &:hover:after {
          background-color: @goldTextColour;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  &.open {
    transform: translate3d(0, 0, 0);
  }

  @media @smallerScreen {
    width: 100%;
    transform: translate3d(-102%, 0, 0);

    &.open {
      transform: translate3d(0, 0, 0);
    }

    .inner-container {
      .page-link {
        font-size: 4em;
      }
    }
  }
}
