@import '../../../public/less/media';
@import '../../../public/less/common';

.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 300px;
  transform: translate3d(-310px, 0, 0);
  transition: transform 0.25s ease-out;
  background-color: @backgroundColour;
  box-shadow: 2px 0 7px 1px rgba(105,105,105,0.36);
  opacity: 0.9;

  .inner-container {
    width: 100%;
    height: 100%;
    padding-top: @shrunkSiteHeaderHeight + 25px;

    .page-link {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 2.5em;
      margin: 20px 0;
      padding: 5px 0;
    }
  }

  &.open {
    transform: translate3d(0, 0, 0);
  }

  @media @smallerScreen {
    width: 100%;
    transform: translate3d(-102%, 0, 0);

    &.open {
      transform: translate3d(0, 0, 0);
    }
  }
}
