@import '~bootstrap/less/bootstrap.less';
@import '~bootstrap/less/variables.less';
@import '~font-awesome/less/font-awesome.less';
@import './common';
@import './media';

// FIXING BOOTSTRAP ISSUES

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

// ANIMATION KEYFRAMES

@keyframes animGold {
  0% {
    background-position: 99% 0;
  }
  25% {
    background-position: 1% 0;
  }
  75% {
    background-position: 99% 0;
  }
}

html {
  height: 100%;
  width: 100%;
  background-color: @backgroundColour;

  body {
    height: 100%;
    width: 100%;
    font-family: Lato;
    text-align: center;
    font-size: 100%;
    padding-top: @siteHeaderHeight;

    @media @smallerScreen {
      font-size: 75%;
    }
  }



  .gold {
    color: @goldTextDarkerColour;
    background: linear-gradient(transparent, transparent), url('../img/goldfoil3.jpg') repeat;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animGold 100s ease-in-out infinite;
  }

  h1 {
    font-size: 4.5em;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 3em;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: @borderColour;
    text-align: left;
    color: @goldTextColour;

    &.right {
      text-align: right;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
    text-outline: none;
    color: @goldTextDarkerColour;

    &:hover {
      color: @goldTextColour;
      text-decoration: none;
    }

    &:visited, &:active, &:link {
      color: @goldTextDarkerColour;
      text-decoration: none;
    }
  }
}

// INDEX TEMPLATE ELEMENTS

.header-container {
  padding: 0;

  // MIXIN
  .site-header-shrunk {
    height: @shrunkSiteHeaderHeight;

    h1 {
      font-size: 3.5em;
    }

    .links {
      opacity: 0;
    }

    .hamburger-container {
      opacity: 1;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .site-header {
    //position: relative;
    height: @siteHeaderHeight;
    overflow: hidden;
    background-color: white;
    transition: height 0.25s ease-in-out;

    h1 {
      transition: font-size 0.25s ease-in-out;
    }

    .links {
      width: 100%;
      opacity: 1;
      transition: opacity 0.15s ease-in-out;

      .link-container {
        display: inline-block;
        margin: 0 30px;
        position: relative;

        &.is-current {
          &:before {
            border-color: @goldTextDarkerColour;
            opacity: 0.25;
            background: linear-gradient(transparent, transparent), url('../img/goldfoil3.jpg');
            background-size: 200%;
            animation: animGold 20s linear infinite;
          }
        }

        &:before {
          content: '';
          border: 1px solid @goldTextColour;
          width: 44px;
          height: 44px;
          border-radius: 36px;
          position: absolute;
          opacity: 0;
          display: inline-block;
          top: -5px;
          left: ~"calc(50% - 22px)";
          transition: opacity 0.25s ease-out;
          pointer-events: none;
        }

        &:hover:before {
          opacity: 0.2;
        }

        .page-link {
          font-size: 2em;
        }
      }
    }

    .hamburger-container {
      position: absolute;
      top: 20px;
      left: 35px;
      color: @goldTextDarkerColour;
      font-size: 2.8em;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.3s ease-in;
    }

    &.shrunk {
      .site-header-shrunk();
    }

    @media @smallerScreen {
      .site-header-shrunk();

      h1 {
        text-align: right;
        padding-right: 35px;
      }

      .hamburger-container {
        font-size: 3.5em;
      }
    }
  }
}

.header-divider {
  margin-top: 0;
  transition: all 0.25s ease-in-out;

  .header-divider-shrunk {
    border-color: darken(@borderColour, 12%);
    box-shadow: 0 2px 7px 1px rgba(105,105,105,0.36);
  }

  &.shrunk {
    .header-divider-shrunk();
  }

  @media @smallerScreen {
    .header-divider-shrunk();
  }
}

.site-content {
  min-width: 600px;
}
